---
import FoodsAndDrinks from "./FoodsAndDrinks.astro";
import Events from "./Events.astro";
---

<div class="pt-8 pb-8 section-padding-x">
  <div class="container max-w-screen-xl">
    <FoodsAndDrinks />
    <Events />
  </div>
</div>
