<section class="section-padding-x pt-8 md:pt-16 pb-8 text-dark-base">
  <div class="container max-w-screen-lg">
    <div
      class="flex gap-4 md:gap-16 flex-justify flex-col items-center lg:flex-row"
    >
      <div class="">
        <h2 class="sub-header-font-size font-extrabold mb-2">Misi Kita</h2>
        <p class="normal-font-size max-w-xl text-justify">
          PeduliRasa lahir dari keinginan untuk mengatasi masalah kelaparan dan
          pemborosan makanan di Indonesia. Kami percaya bahwa setiap makanan
          yang berlebih dapat menjadi harapan bagi mereka yang membutuhkan.
          Melalui platform berbasis web yang mudah diakses, kami menghubungkan
          pemilik makanan berlebih dengan individu atau komunitas yang
          memerlukan, menciptakan jembatan antara surplus dan kebutuhan.
        </p>
      </div>
      <div class="lg:inset-y-0 lg:right-0 lg:w-1/2 my-4">
        <img
          class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full rounded-lg"
          src="/images/backgrounds/visi-misi.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
